@font-face {
    font-family: 'FragmentMono-Regular.ttf';
    src: url('FragmentMono-Regular.ttf') format('truetype');
}

body {
    font-family: "FragmentMono-Regular.ttf";
}

button {
    font-family: "FragmentMono-Regular.ttf";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
       }
 p {
    font-size: 2rem;
 }
 
 button {
     padding: 7px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }
 
#rock {
     background-color: #3498db;
 }
 
 #paper {
     background-color: #5eec99;
 }
 
 #scissors {
    background-color: #fc5d5d;
 }